@model Portal.ViewModels.TicketsViewModel
@{
    ViewBag.Title = "Kupno biletów";
}

@{Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}

<div class="container">

    <h2 class="panel-heading">Kupno biletów na film: <b> @Html.DisplayTextFor(x => x.Movie.Title) </b> </h2>
   
    <p> String z zajętymi miejscami</p>
    @Html.DisplayTextFor(x => x.Places)


    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-8">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    

                    @for (int i = 1; i <= 50; i++)
                    {
                        <input id="@i" disabled="true" name="place_@i"type="button" value=@i class="btn btn-primary" />
                        if (i % 10 == 0)
                        { <br> }
                                                
                    }

                    



    

                    <div class="form-group">
                        <div class="col-md-offset-6">
                            <input type="submit" value="Zapisz" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Powrót do listy", "Index")
    </div>
</div>


@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/picker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.pl.js"></script>

