@model Portal.ViewModels.TicketsViewModel
@{
    ViewBag.Title = "Kupno biletów";
}

@{Layout = "~/Views/Shared/_Layout.cshtml";}
@{decimal price = Model.Price; }
@{string places = Model.Places; }
@{string choosenplaces = Model.Places; }
<script src="~/Scripts/jquery-1.10.2.min.js"> var price = '<%=price%>'</script>
<script type="text/javascript" language="javascript">
    $(function () {
        $("#btNext").click(function () {
            $("input[name='place']").attr("checked");
        });
        //(alert on click button)
        $("#btnSubmit").click(function () {
            var checkedIds = $(":checkbox:checked").map(function () {
                return this.id;
            }).get();
            $("divb").text("Wybrane miesjca to: " + checkedIds);
            alert("Wybrane miejsca: " + checkedIds + " Cena: " + price);
            return false;
        });

        //JS function showing which places were checked
        var countChecked = function () {
            var n = $("input:checked").length;
            $("#Summary").visible = true;
            $("diva").text("Wybrałeś " + n + (n === 1 ? " miejsce o numerze: " : " miejsca o numerach: "));

            price = parseInt(n) * parseInt(@price);
            $("divd").text(price);

            var checkedIds = $(":checkbox:checked").map(function () {
                return this.id;
            }).get();
            document.getElementById("Hidden1").value = checkedIds;
            $("divb").text( checkedIds);

        };
        countChecked();
        $("input[type=checkbox]").on("click", countChecked);


        $("#discountlist").click(function () {

        });

        var clicked = 0;
        $("#btn-disscount").click(function () {

            var x = document.getElementById("discountlist").value;
            $("divc").text(x);
            if (clicked == 0) {
                price = parseInt(price) - parseInt(x) / 2 * parseInt(@price);
                clicked = 1;
            }
            $("divd").text("ze zniżką: " + price);
        });

        $("#xD").click(function () {
            var ticketViewModel = new Object();
            ticketViewModel.Place = "1";
            ticketViewModel.SummaryPrice = ParseInt(3);

            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("Buy")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ coordinates: ticketViewModel }),
                success: function (data) {
                    alert(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });

        });
    });

</script>
<br />
<div class="container">

    <h2 class="panel-heading">Kupno biletów na film: <b> @Html.DisplayTextFor(x => x.Movie.Title) </b> </h2>

    <!---pobranie nazwy usera usera -->
    @using Microsoft.AspNet.Identity

 
    @{ string username = User.Identity.GetUserName(); }


    <div class="col-md-2"> Cena normalna:
            @price
    </div>
    <br /> 
    <hr />

    @using (Html.BeginForm())
    {


        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-4">
                @Html.Label("Ręczny wybór biletów:")
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        
                        <div class="col-md-6">
                            @Html.Label("Cena:")
                            @Html.EditorFor(model => model.SummaryPrice, new { htmlAttributes = new { @class = "form-control", placeholder = "Cena" } })                            
                            @Html.Label("Miejsca:")
                            @Html.EditorFor(model => model.Place, new { htmlAttributes = new { @class = "form-control", placeholder = "Miejsca 21,22" } })
                            @Html.Label("Zajęte miejsca:")
                            @Html.EditorFor(model => model.Places, new { htmlAttributes = new { @class = "form-control", placeholder = "Miejsca 21,22" } })
                         </div>
                    </div>                
                                      
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="submit" id="btn"value="Dodaj" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-10">
                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-md-8">

                          
                        </div>
                    </div>

                    <form>

                        @for (int i = 0; i <= 50; i++)
                        //loop generates room View with free places
                        {

                            if (places[i] == '0')
                            {
                                <label class="btn btn-primary btn-group">
                                    <input id="@i" type="checkbox" name="place" autocomplete="off">  @i
                                </label>
                            }

                            if (places[i] == '1')
                            {
                                <label class="btn btn-danger">
                                    <input id="@i" type="checkbox" name="place" autocomplete="off" disabled>  @i
                                </label>
                            }

                            if (i != 0 && i % 10 == 0)
                            {
                                <br>
                            }

                        }
                    </form>


                    <div class="form-group">
                        <div class="col-md-offset-6">



                        </div>
                    </div>

                </div>

                <input type="submit" id="btnSubmit" value="Zakup biletów" class="btn btn-primary" />

            </div>
        </div>
    }
    <br />
    <div id="Summary" class="col-lg-8">

        <diva></diva>
        <divb></divb>
        <div>Ilość biletów ze zniżką:<divc></divc> </div>

        <input id="discountlist" type="number" min="0" max="50" value="0" />

        <input type="submit" id="btn-disscount" value="Oblicz znizki" class="btn btn-primary" />

        <div class="h2">Cena biletów <divd></divd></div>


        <input id="Hidden1" type="hidden" />
    </div>

   
</div>


@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/datepicker")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/picker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.pl.js"></script>

