    @model IEnumerable<Portal.ViewModels.NewsViewModel>

    @{
        ViewBag.Title = "Index";
    }


    @{Layout = "~/Views/Shared/_LayoutAdmin.cshtml";}


    <h2 class="intro-text text-center">Wpisy</h2>

        <table class="table table-hover news">
            <thead>
                <tr>
                    <th>Tytuł</th>
                    <th>Opis</th>
                    <th>Data dodania</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AddedDateTime)
                        </td>
                        <td>
                            <a class="EditButton" href="@Url.Action("Edit", new { id = item.Id })" ><span class="glyphicon glyphicon-edit"></span></a><a class="DeleteButton" href="@Url.Action("Delete", new { id = item.Id })"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
